<!-- LOGIN -->
<div class="modal" id="login">
    <div class="modal-content center">
        <h4>Login</h4>
        <br>
        <form action="#">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input type="text" id="username">
                <label for="username">Username</label>
            </div> <br>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="password">
                <label for="password">Password</label>
            </div> <br>
            <div class="left">
                <p>
                    <label>
                      <input id="indeterminate-checkbox" type="checkbox" />
                      <span>Remember Me</span>
                    </label>
                  </p>
            </div> <br>

            <input type="submit" value="login" class="btn btn-login">
        </form>
    </div>
</div>