<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Search Page</title>
</head>
<body>

    <nav role="navigation">
        <div class="nav-wrapper container">
            <a href="../index.html" class="brand-logo center" id="logo-container">Search</a>
            <a href="#" onclick="history.back()" class="sidenav-trigger" data-target="nav-mobile">
                <i class="material-icons">arrow_back</i>
            </a>
            <ul class="topnav right hide-on-med-and-down"></ul>
            <ul class="sidenav" id="nav-mobile"></ul>
        </div>
    </nav>

    <article class="content">
        
    </article>


    <footer class="page-footer">

    </footer>
    
</body>
</html>