<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="transparent">
            <div class="nav-wrapper transparent">
                <a href="../index.html" class="brand-logo center">MOVIE<span style="color: red;">KANG</span></a>
                <!-- <a href="javascript:history.go(-1)" data-target="mobile-demo" class="sidenav-trigger"> <i class="material-icons">arrow_back</i> </a> -->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"> <i class="material-icons">reorder</i> </a>

                <ul class="topnav left hide-on-med-and-down"></ul>
                <ul class="topnavright right hide-on-med-and-down">
                    <li><a href="#"><i class="material-icons">notifications</i></a></li>
                    <li><a href="#"><i class="material-icons">account_circle</i></a></li>
                </ul>

                <ul class="sidenav" id="mobile-demo"></ul>
                <!-- <ul class="topnav right hide-on-med-and-down"></ul>
                <ul class="sidenav" id="nav-mobile"></ul> -->
            </div>
        </nav>

        <div class="forgrouund_blur">
        </div>

        <article class="banner valign-wrapper">
            <div class="container">
                <p class="sub-title studio-producer"></p>

                <p class="title">Movie Title</p>
                <a class="playMovie Wathwaves-effect btn-large"><i class="material-icons left">play_arrow</i>WATCH NOW</a>
            </div>
        </article>
    </header>

    <div class="container"> 
        <h4 class="content">SYNOPSIS</h4>
        <p class="content__synopsis"></p>
    </div>
    <div class="container">
        <h4 class="content">TRAILER</h4>
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/hEJnMQG9ev8" frameborder="0"allowfullscreen></iframe>
    </div>
    <div class="container">
        <h4 class="content">REVIEW</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati accusantium delectus dolore deleniti beatae dolor 
            quo harum rerum incidunt! Iure, maxime animi reiciendis fugit fugiat illum omnis laboriosam consequuntur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati accusantium delectus dolore deleniti beatae dolor 
            quo harum rerum incidunt! Iure, maxime animi reiciendis fugit fugiat illum omnis laboriosam consequuntur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati accusantium delectus dolore deleniti beatae dolor 
            quo harum rerum incidunt! Iure, maxime animi reiciendis fugit fugiat illum omnis laboriosam consequuntur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci obcaecati accusantium delectus dolore deleniti beatae dolor 
            quo harum rerum incidunt! Iure, maxime animi reiciendis fugit fugiat illum omnis laboriosam consequuntur!
        </p>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><span style="color: white;">MOVIE</span> <span style="color: red;">KANG</span></h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</body>
</html>