@import "./banner.css";
@import "./search.css";
@import "./popular.css";
@import "./recommendation.css";
@import "./footer.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.on-active {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
}

nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 99999;
}

.btn-login
{
    width: 100%;
}

@media (max-width: 800px) {
    .button_submit {
        width: 40px;
    }
}

