.recommendation {
    height: auto;
    width: auto;
    background-color: #2c3e50;
    padding-bottom: 150px;
}

.recommendation__content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 5em;
    justify-content: center;
    scroll-behavior: smooth;
}

.recommendation__content .itemMovie {
    margin: 20px 50px;
    width: min-content;
}

@media (max-width: 1000px) {
    .recommendation__content .itemMovie {
        margin: 0px 20px;
    }

    .recommendation__content {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 40px 1em;
        justify-content: flex-start;
    }

    .recommendation__content::-webkit-scrollbar {
        display: none;
    }
}