<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <login-popup></login-popup>
    
    <header>
        <nav class="transparent">
            <div class="nav-wrapper transparent">
                <a href="../index.html" class="brand-logo center">MOVIE<span style="color: red;">KANG</span></a>
                <!-- <a href="javascript:history.go(-1)" data-target="mobile-demo" class="sidenav-trigger"> <i class="material-icons">arrow_back</i> </a> -->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"> <i class="material-icons">reorder</i> </a>

                <ul class="topnav left hide-on-med-and-down"></ul>
                <ul class="topnavright right hide-on-med-and-down"></ul>

                <ul class="sidenav" id="mobile-demo"></ul>
            </div>
        </nav>

        <article class="content valign-wrapper">
           <div class="container">
                
                <p class="title-content">Favorite Film</p>

                <duv class="carousel">
                </duv>
            
           </div>
        </article>
    </header>

    <footer class="page-footer">

    </footer>
</body>
</html>